<template>
  <div class="main-content">
    <div class="wrapper-container">
      <list-task
          :dataList="$store.state.users.dataUser"
      />
    </div>
  </div>
</template>

<script>

import ListTask from '@/components/ListTask.vue';

export default {
  name: 'MainControllerList',
  components: {
    ListTask,
  },
}
</script>

<style scoped>
.main-content {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-container {
  max-width: 700px;
  width: 100%;
}

/deep/ .mt-50 {
  margin-top: 50px;
}
</style>
