<template>

  <div class="right-area">
    <div class="text-task_input info-task_left-area_date">
      Добавь нового пользователя
    </div>

    <div class="right-area_info-task">
    </div>
    <div class="right-area_new-task">
      <div class="new-task_button-add">
        <div class="btn-add" @click="addNewUser"></div>
      </div>
      <div class="new-task_input-text">
        <my-input
            v-model="newUserName"
            :placeholder="'Добавить нового пользователя'"
            :minLength="4"
            @enterKey="addNewUser"
            @errorCheck="errorForm = $event"/>
      </div>
    </div>
    <div class="right-area_list-task">

      <div class="text-task_input info-task_left-area_date mt-50">
        Список пользователей
      </div>


      <div v-if="dataList.length">

        <div class="table-head">
          <div class="table-item bold-font table-item__id">id</div>
          <div class="table-item bold-font">name</div>
        </div>
        <div class="table-body">
          <div
              v-for="(user, index) in dataList"
              :key="user.id"
              :style="{
                background: index % 2 === 0 ? '#f6f6f6' : '#fff',
                borderColor: index === dataList.length - 1? 'transparent' : 'auto',
              }"
              class="table-item-body"
          >

            <div class="table-item table-item__id">{{ user.id }}</div>

            <div class="table-item__control">

              {{ user.name }}

              <div class="list-task_delete-task">
                <div class="img_delete delete-task_btn" @click="()=> deleteUserStore(user.id)"/>
              </div>
            </div>


          </div>
        </div>
      </div>

      <div v-else class="right-area">Пользователи отсутствуют</div>

    </div>
  </div>

</template>

<script>

import {mapMutations} from 'vuex'

export default {
  name: 'ListTask',
  props: {
    dataList: {
      type: Object,
    },
  },
  data: function () {
    return {
      newUserName: '',
      errorForm: true,
    }
  },
  methods: {
    ...mapMutations({
      deleteUserStore: 'users/deleteUserStore',
      addNewUserStore: 'users/addNewUser'
    }),
    addNewUser() {
      this.addNewUserStore(this.newUserName)
      this.newUserName = ''
    },
  },
}
</script>

<style scoped>


/deep/ .text-left-position {
  text-align: left;
}

/deep/ .new-task_button-add {
  padding: 0 10px;
}

/deep/ .btn-add {
  width: 24px;
  height: 24px;
  background-color: #000;
  cursor: pointer;
  /*-webkit-mask-image: url(../assets/img/plus.png);*/
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  opacity: .4;
  transition: opacity .2s;
}

/deep/ .btn-add:hover {
  opacity: 1;
}

/deep/ .icon-animate {
  opacity: .5;
  transition: opacity .2s;
}

/deep/ .icon-animate:hover {
  opacity: 1;
}


/deep/ .input-new-task {
  width: 99%;
  padding: 2px 0;
  background: none;
  margin-right: 5px;
  border: 1px solid transparent;
}

/deep/ .input-new-task:focus {
  outline: none;
}


/* ------------------------- */

.btn-add {
  width: 24px;
  height: 24px;
  background-color: #000;
  cursor: pointer;
  -webkit-mask-image: url(../assets/img/plus.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  transition: opacity .2s;
}

.table-head {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.table-item-body {
  display: flex;
  border-bottom: black;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  padding: 12px 0;
  width: 100%;
  align-items: center;
  transition: background .5s;
  border-radius: 3px;
}

.table-item__id {
  padding: 0 20px;
}

.table-item-body:hover {
  background: #e4e4e4 !important;
}

.table-body {
  width: 100%;
}

.bold-font {
  font-family: "FuturaMedium";
}

.table-item__id {
  border-right: 2px solid #000;
  margin-right: 20px;
  text-align: center;
}

.table-item__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  width: 100%;
}


.img_delete {
  width: 22px;
  height: 22px;
  opacity: .5;
  background-color: #000;
  cursor: pointer;
  -webkit-mask-image: url(../assets/img/trash_full.png);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.right-area {
  width: 100%;
  background-color: #fff;
  padding: 35px 45px 0 45px;
}

.right-area_info-task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.text-task_input {
  width: 100%;
}

.text-task_input {
  border: 0;
  outline: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.info-task_left-area_date {
  font-family: "FuturaMedium";
  font-size: 36px;
  margin-bottom: 10px;
}

/*/deep/.input-new-task{*/

/* new-task */

.right-area_new-task {
  width: 100%;
  height: 40px;
  background: #F3F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px 10px;
}

.new-task_input-text {
  width: 100%;
}

/* new-task */

/*List item*/
.delete-task_btn {
  opacity: .5;
}

.table-item-body:hover .delete-task_btn {
  opacity: 1;
}

.list-task_item:hover .delete-task_btn {
  opacity: 1;
}

.text-task_input {
  border: 0;
  outline: none;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

/*List item*/
</style>
