<template>
  <main-controller-list />
</template>

<script>
import MainControllerList from "@/pages/MainControllerList";

export default {
  name: 'App',
  components: {
    MainControllerList
  }
}
</script>

<style>
@font-face {
  font-family: "FuturaBook";
  src: url("./assets/fonts/FuturaBookC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "FuturaMedium";
  src: url("./assets/fonts/FuturaMediumC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FuturaBook";
  font-size: 18px;
}
</style>
